.tabs {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 50px 0 20px;
}

.tabs button {
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
  padding-bottom: 6px;
}

.tabs .active {
  border-bottom: 2px solid #000;
  font-weight: 600;
}
