.categoryTabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.categoryTabs button {
  margin-top: 50px;
  padding: 8px 18px;
  border-radius: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.categoryTabs button.active {
  background: black;
  color: white;
}

