.footer {
  background-image: url("/src/components/Images/santa.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.footerOverlay {
  background: rgba(0, 0, 0, 0.7);
  padding: 40px 20px 40px;
  justify-content: space-between;
}

.footerContainer {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}

/* COLUMN */
.footerColumn{
  justify-content: space-between;
  margin-left: 20px;
}
.footerColumn h4 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

.footerColumn ul {
  list-style: none;
  padding: 0;
}

.footerColumn ul li {
  margin-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.9;
}

.footerColumn ul li:hover {
  opacity: 1;
  text-decoration: underline;
}

/* SUBSCRIBE */
.footerColumn p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
  opacity: 0.9;
}

.subscribeBox {
  display: flex;
  gap: 8px;
}

.subscribeBox input {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.subscribeBox button {
  padding: 10px 16px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.subscribeBox button:hover {
  background: #e5e5e5;
}
.lastcolm{
  margin-left: 100px;
}

/* BOTTOM */
.footerBottom {
  text-align: center;
  margin-top: 40px;
  font-size: 13px;
  opacity: 0.8;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footerContainer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .subscribeBox {
    flex-direction: column;
  }
}
