.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  border-bottom: 1px solid #ddd;
}

.nav span {
  margin: 0 12px;
  cursor: pointer;
}

.nav span.active {
  border-bottom: 2px solid black;
}

.cart {
  font-weight: bold;
}


.headerLeft {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo {
  letter-spacing: 3px;
  font-size: 22px;
}

.nav a {
  margin-right: 28px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 18px;
}

.headerRight input {
  padding: 8px 14px;
  border: 1px solid #ccc;
}
