/* RESET */
* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

/* LEFT */
.headerLeft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  font-size: 22px;
  letter-spacing: 2px;
}

/* CENTER */
.nav {
  display: flex;
  gap: 30px;
}

.nav span {
  cursor: pointer;
  font-weight: 500;
}

.nav span.active {
  border-bottom: 2px solid black;
}

/* RIGHT */
.headerRight {
  display: flex;
  align-items: center;
  gap: 12px;
}

.headerRight input {
  padding: 6px 10px;
  border: 1px solid #ccc;
}

.cart {
  font-weight: bold;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* MOBILE MENU */
.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  animation: slideIn 0.3s ease;
}

.mobileMenu span {
  font-size: 22px;
  font-weight: 600;
}

.close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 26px;
  cursor: pointer;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .logo {
   position: static;
    transform: none;
    margin: 0 auto;

  }
}

/* SLIDE */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
